@model GeeksForLess.Models.Folder

<div class="container">

    <div class="header">
        <a asp-controller="Folder" asp-action="GetDbFromJson">Get data from file</a>
        <a> | </a>
        <a asp-controller="Folder" asp-action="SaveDbToJson">Get data from system</a>
    </div>

    @if(Model != null && Model.Id != 0)
    {
        <div style="margin-top:25px">
            <a>"Check Folder" - </a>
            <a asp-controller="Folder" asp-action="Index" class="text-primary">@Model.Name</a>
        </div>
    }
    
</div>