@model GeeksForLess.Models.DirectoryEllement


<form method="post">
    <div class="container">
        <div class="row" style="margin-top:25px">
            <div class="form-group row">
                <div class="col-4">
                    <label>Root path</label>
                    <input asp-for="RootPath" class="form-control" />
                    <span asp-validation-for="RootPath" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label>File name</label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>


            <div class="form-group row">
                <div class="col-4">

                    <div style="margin-top:10px" class="col">
                        <input type="submit" class="btn btn-info w-100" value="Continue" />
                    </div>
                    <div style="margin-top:10px" class="col">
                        <a asp-action="Index" class="btn btn-success w-100"><i class="fas fa-sign-out-alt"></i>Back</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
