@model IEnumerable<GeeksForLess.Models.Folder>

<div class="container">

    <div class="header">
        <a asp-controller="Home" asp-action="Index">Home</a>
        <a> | </a>
        <a asp-controller="Folder" asp-action="SaveDbToJson">Save</a>
    </div>

    @if (Model.Count() > 0)
    {
        @if (Model.First().IsSelected)
        {
            <div>
                <h2>"Folder" - @Model.First().Name</h2>

                @foreach (var obj in Model)
                {
                    @if (Model.First().ChildFoldersIds != null)
                    {
                        @if (Model.First().ChildFoldersIds.Contains(obj.Id.ToString()))
                        {
                            <a asp-controller="Folder" asp-route-Id="@obj.Id" asp-action="Index">
                                <h3>@obj.Name</h3>
                            </a>

                        }
                    }
                }

            </div>
        }
    }

</div>